Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting pvporcupine
  Downloading pvporcupine-3.0.2-py3-none-any.whl.metadata (4.8 kB)
Collecting pyaudio
  Downloading https://www.piwheels.org/simple/pyaudio/PyAudio-0.2.14-cp37-cp37m-linux_armv7l.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.9/45.9 kB 173.2 kB/s eta 0:00:00
Collecting websockets
  Downloading https://www.piwheels.org/simple/websockets/websockets-11.0.3-cp37-cp37m-linux_armv7l.whl (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.5/132.5 kB 292.7 kB/s eta 0:00:00
Collecting asyncio
  Downloading https://www.piwheels.org/simple/asyncio/asyncio-3.4.3-py3-none-any.whl (101 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.8/101.8 kB 444.9 kB/s eta 0:00:00
Downloading pvporcupine-3.0.2-py3-none-any.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 1.4 MB/s eta 0:00:00
Installing collected packages: pyaudio, asyncio, websockets, pvporcupine
Successfully installed asyncio-3.4.3 pvporcupine-3.0.2 pyaudio-0.2.14 websockets-11.0.3
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
Collecting vosk
  Downloading vosk-0.3.45-py3-none-linux_armv7l.whl.metadata (1.8 kB)
Collecting cffi>=1.0 (from vosk)
  Downloading https://www.piwheels.org/simple/cffi/cffi-1.15.1-cp37-cp37m-linux_armv7l.whl (219 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 219.9/219.9 kB 490.3 kB/s eta 0:00:00
Collecting requests (from vosk)
  Downloading https://www.piwheels.org/simple/requests/requests-2.31.0-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 1.6 MB/s eta 0:00:00
Collecting srt (from vosk)
  Downloading https://www.piwheels.org/simple/srt/srt-3.5.3-py3-none-any.whl (22 kB)
Collecting tqdm (from vosk)
  Downloading https://www.piwheels.org/simple/tqdm/tqdm-4.66.5-py3-none-any.whl (78 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.4/78.4 kB 182.0 kB/s eta 0:00:00
Requirement already satisfied: websockets in /home/pi/lucy/lib/python3.7/site-packages (from vosk) (11.0.3)
Collecting pycparser (from cffi>=1.0->vosk)
  Downloading https://www.piwheels.org/simple/pycparser/pycparser-2.21-py2.py3-none-any.whl (119 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 119.7/119.7 kB 523.5 kB/s eta 0:00:00
Collecting charset-normalizer<4,>=2 (from requests->vosk)
  Downloading https://www.piwheels.org/simple/charset-normalizer/charset_normalizer-3.3.2-py3-none-any.whl (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 48.5/48.5 kB 1.4 MB/s eta 0:00:00
Collecting idna<4,>=2.5 (from requests->vosk)
  Downloading https://www.piwheels.org/simple/idna/idna-3.10-py3-none-any.whl (70 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.4/70.4 kB 2.3 MB/s eta 0:00:00
Collecting urllib3<3,>=1.21.1 (from requests->vosk)
  Downloading https://www.piwheels.org/simple/urllib3/urllib3-2.0.7-py3-none-any.whl (124 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 124.2/124.2 kB 528.2 kB/s eta 0:00:00
Collecting certifi>=2017.4.17 (from requests->vosk)
  Downloading https://www.piwheels.org/simple/certifi/certifi-2024.8.30-py3-none-any.whl (167 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 167.3/167.3 kB 467.8 kB/s eta 0:00:00
Downloading vosk-0.3.45-py3-none-linux_armv7l.whl (2.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 886.8 kB/s eta 0:00:00
Installing collected packages: urllib3, tqdm, srt, pycparser, idna, charset-normalizer, certifi, requests, cffi, vosk
Successfully installed certifi-2024.8.30 cffi-1.15.1 charset-normalizer-3.3.2 idna-3.10 pycparser-2.21 requests-2.31.0 srt-3.5.3 tqdm-4.66.5 urllib3-2.0.7 vosk-0.3.45
